*{
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(#c8fcf1, #44f9d2);
    height: 120vh;
}
.calculator{
    width: 630px;
    height: 600px;
    background-color: #31f1c8;
    position: absolute;
    top: 5%;
    left: 27%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 8px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgb(128, 165, 158) ;
    text-align: center;
    padding: 20px 0px;
}
h1{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin-bottom: 20px;

}
label{
   
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin: 40px;
    padding: 50px;
 
}
input{
    height: 30px;
    width: 450px;
    border-radius: 9px;
    /* margin: 10px; */
  
}


p{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande';
    margin: 1px;
    font-size: 20px;
}
span{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande';
    margin: 5px;
    font-size: 25px;
}

#amount {
    -webkit-appearance: none;
    width: 550px;
    height: 5px;
    background: #ffffff;
    border-radius: 25px;
    outline: none;
    opacity: 0.7;
    box-shadow: #04AA6D;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#amount:hover {
    opacity: 1;
}
#amount::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 10px;
    border-radius: 25px;
    background:   rgb(0, 129, 119);
    cursor: pointer;
}

#amount::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}
button {
    -webkit-appearance: none;
    width: 250px;
    height: 55px;
    background: #ffffff;
    font-size: 18px;
    border-radius: 25px;
    border-width: 6px;
    outline: none;
    opacity: 0.8;
    box-shadow: #04AA6D;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


button:hover {
    opacity: 1;
}

#rate {
    -webkit-appearance: none;
    width: 550px;
    height: 5px;
    background: #ffffff;
    border-radius: 25px;
    outline: none;
    opacity: 0.7;
    box-shadow: #04AA6D;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#rate:hover {
    opacity: 1;
}
#rate::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-width: 10px;
    border-color: #ffffff;
    border-radius: 25px;
    background:   rgb(0, 129, 119);
    cursor: pointer;
}

#rate::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}